div
  height: 100vh
  margin: 0
  position: relative
  background: url('https://image.flaticon.com/icons/svg/296/296216.svg') no-repeat, url('https://image.flaticon.com/icons/svg/296/296208.svg') no-repeat, url('https://image.flaticon.com/icons/svg/575/575700.svg') no-repeat, url('https://image.flaticon.com/icons/svg/363/363053.svg') no-repeat, url('https://image.flaticon.com/icons/png/512/358/358484.png') repeat,
  background-size: auto 25%, auto 25%, auto 25%, auto 25%, auto 35%
  background-position: top 5% left 0, top 50% left 0, top 95% left 0, top 69% left -130%, top 0 left 0, top 70% left 50%
  transition: all 10s ease
  background-attachment: fixed
  
div:hover 
  background-position: top 5% left 85%, top 50% left 90%, top 95% left 65%, top 69% left 160%, top 0 left 1200%, top 70% left 50% 

.sign
  margin: 0
  background:         url('https://image.flaticon.com/icons/svg/533/533203.svg') no-repeat,
  background-size: 45% 20%
  background-position: top 70% left 50%
  position: absolute
  top: 5%
  left: 5%
  width: 600px
  height: 300px 
 
