@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
body {
	width: 100vw;
	height: 100vh;
	background-color: #010220;
}
section {
	width: 100%;
	height: 5%;
	padding: 5px;
	text-align: center;
}
[class^="btn-"] {
	display: inline-block;
	min-height: 50px;
	font-size: 16px;
	font-style: bold;
	border-radius: 5px;
	cursor: pointer;
	float: left;
	width: 30%;
	margin: 10px;
	padding: 15px 30px;
	font-family: 'Montserrat', sans-serif;
	background-color: inherit;
	border: 2px solid;
	transition: 0.4s;
	/*Michał, dlaczego to transition musi być tutaj, aby był taki sam efekt ale w stronę przeciwną? Czemu tutaj, a nie przy :hover?*/
}
.btn-purple {
	background-image: linear-gradient(90deg, #8e44ad 50%, transparent 50%);
	border-color: #8e44ad;
	color: #8e44ad;
	background-position: 100% 0;
	background-size: 300%;
	color: purple;
	/*Prośba o wytłumaczenie dwóch powyższych styli background-*/
}
.btn-yellow {
	background-image: linear-gradient(45deg, #f1c40f 50%, transparent 50%);
	border-color: #f1c40f;
	color: #f1c40f;
	background-position: 100% 0;
	background-size: 300%;
	color: yellow;
}
.btn-blue {
	background-image: linear-gradient(135deg, #3498db 50%, transparent 50%);
	border-color: #3498db;
	color: #3498db;
	background-position: 100% 0;
	background-size: 300%;
	color: blue;
}
[class^="btn-"]:hover {
	background-position: 0 100%;
	color: white;
}
