body {
	padding: 0;
	margin: 0 auto;
}
h2 {
	color: #505050;
	font-size: 40px;
}
.social {
	margin: 0 auto;
	width: 500px;
	text-align: center;
	padding: 50px;
}
.icon-btn {
	height: 75px;
	width: 75px;
	border: 0;
	color: #FFFFFF;
	border-radius: 50%;
	margin: 5px;
	cursor: pointer;
	font-size: 40px;
	transition: ease-in-out 1.5s;
}
.twitter {
	color: #4099FF;
}
.facebook {
	color: #3B5998;
}
.google-plus {
	color: #DB5A3C;
}
.instagram {
	color: #5C3D2E;
}
.github {
	color: #4183C4;
}
.icon-btn:hover {
	transition: ease-in-out 1.5s;
	/*animation: spin 4s linear;*/
	transform: scale(1.10) rotate(720deg);
}
.twitter:hover {
	background-color: white;
}
.facebook:hover  {
	color: #FFFFFF;
	background-color: #3B5998;
}
.google-plus:hover  {
	color: #FFFFFF;
	background-color: #DB5A3C;
}
.instagram:hover  {
	color: #FFFFFF;
	background-color: #5C3D2E;
}
.github:hover  {
	color: #FFFFFF;
	background-color: #4183C4;
}

/* @keyframes spin {
	0% {transform: rotate(0deg);}
	50% {transform: rotate(720deg);}
	100% {transform: rotate(0deg);}
} */